<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 navbar1">
      <div class="row">
        <div class="col-xs-6">
          <input
            type="button"
            value="Welcome to Bella Sallon Management"
            class="btn navbarButton navbarButton-logo"
          />
        </div>
        <div class="col-xs-6">
          <input
            type="button"
            value="SignUP"
            class="btn navbarButton navbarButton-signup"
          />
          <input
            type="button"
            value="Login"
            class="btn navbarButton navbarButton-login"
          />
        </div>
      </div>
    </div>
  </div>
</div>
