.navbarButton {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
  padding: 0 2rem;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  width: auto;
  background-color: white;
  color: orange;
  margin-top: 30px;
}
.navbarButton-logo {
  font-size: 40px;
  margin-left: 10%;
}
.navbarButton-login {
  color: #fff;
  background-color: #000;
}
.navbarButton-signup {
  color: #000;
  background-color: #fff;
  margin-right: 20px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 45%);
}

.navbar1 {
  background-color: white;
  height: 40px;
}
