<div class="container-fluid">
  <app-header></app-header>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1 class="questions">Frustrated of long waits?</h1>
      <h2 class="answer">
        Book an appointment from favourite saloons near you.
      </h2>

      <div class="row">
        <div class="col-md-9" style="padding-right: 0px;">
          <div class="location">
            <div class="row">
              <div class="col-md-8">
                <input
                  type="text"
                  class="location-input"
                  placeholder="Enter Your Location"
                />
              </div>
              <div
                class="col-md-4"
                style=" padding-left: 0px;
        padding-right: 0px;"
              >
                <input type="button" class="locateme" value="Locate Me" />
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-3"
          style=" padding-left: 0px;
        padding-right: 0px;"
        >
          <input type="button" class="location location-find" value="Find" />
        </div>
      </div>
    </div>
  </div>
</div>
